<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houserenting.mapper.RentInfoMapper">

	<resultMap type="com.houserenting.entity.RentInfo" id="RentInfoResult">
		<result column="rid" property="rid"/>
		<result column="layout" property="layout"/>
		<result column="renovation" property="renovation"/>
		<result column="price" property="price"/>
		<result column="address" property="address"/>
		<result column="liaison" property="liaison"/>
		<result column="phone" property="phone"/>
		<result column="pic" property="pic"/>
		<result column="publish_date" property="publishDate"/>
		<association property="customer" javaType="com.houserenting.entity.Customer"
			select="selCustomerByCid" column="cid"/>
	</resultMap>

	<select id="sel" resultMap="RentInfoResult" parameterType="Integer">
		select * from rent_info where rid=#{rid}
	</select>

</mapper> 