<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houserenting.mapper.RentInfoMapper">

    <resultMap type="com.houserenting.entity.RentInfo" id="RentInfoResult">
        <result column="rid" property="rid"/>
        <result column="cid" property="cid"/>
        <result column="huxing" property="huxing"/>
        <result column="time" property="time"/>
        <result column="zhuangxiu" property="zhuangxiu"/>
        <result column="price" property="price"/>
        <result column="address" property="address"/>
        <result column="pic" property="pic"/>
        <result column="examined" property="examined"/>

    </resultMap>

    <select id="sel" resultMap="RentInfoResult" parameterType="Integer">
        select *
        from rent_info
        where rid = #{rid}
    </select>

    <select id="getByPage" resultMap="RentInfoResult" parameterType="map">
        select *
        from rent_info
        limit #{begin},#{size}
    </select>
    <select id="getRentInfosByCid" resultMap="RentInfoResult" parameterType="map">
        select *
        from rent_info
        where cid = #{cid}
        limit #{begin},#{size}
    </select>
    <select id="getCount" resultType="int">
        select count(*)
        from rent_info
    </select>

    <insert id="add" parameterType="com.houserenting.entity.RentInfo">
        <selectKey keyColumn="rid" keyProperty="rid" resultType="Integer" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into rent_info
        (cid,huxing,mianji,zhuangxiu, price, address, pic, time,examined)
        values (#{cid},#{huxing},#{mianji},#{zhuangxiu},#{price},
        #{address},#{pic},#{time},#{examined})
    </insert>

</mapper> 